name: Update this repo's README

on:
  # push:
  schedule:
    # Once a day at 8 AM
    - cron: 0 8 * * *

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: JasonEtco/rss-to-readme@v1
        with:
          feed-url: hhttps://github.blog/author/leereilly/feed/
          readme-section: feed
